<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
</head>
<body>
<div id="app"></div>
<script src="/js/dist/app.min.js" type="text/javascript"></script>
<div style="display: none;">
	<img src="/bgrds/bg1.jpg" alt="">
	<img src="/bgrds/bg2.jpg" alt="">
	<img src="/bgrds/bg3.jpg" alt="">
	<img src="/bgrds/bg4.jpg" alt="">
</div>
</body>
</html>