@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@import url("https://fonts.googleapis.com/css?family=Arvo:400,700");
* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", san-serif
}

img {
  border: 0
}

body {
  color: #656b70;
  font-size: 10pt
}

p {
  line-height: 1.75em;
  margin: 0 0 1.5em 0
}

ul li {
  line-height: 2em
}

a {
  color: #577f00;
  text-decoration: underline
}

a:hover {
  text-decoration: none
}

img.bordered {
  display: inline-block;
  padding: 5px;
  border: solid 1px #d4d5d7
}

img.left {
  float: left
}

input.text, select, textarea {
  border: solid 1px #d4d5d7;
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box
}

input.actionButton {
  width: 80px;
  height: 41px;
  border: 0;
  color: #fff;
  text-decoration: none;
  text-transform: normal;
  font-family: 'Roboto Slab', Georgia, Sans-serif;
  letter-spacing: -1px;
  text-align: center;
  cursor: pointer;
  font-size: 1.2em;
  text-shadow: 0px 1px 1px #00588f;
  background-color: #007fee;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#007fee), to(#00a3f4));
  background-image: -webkit-linear-gradient(top, #007fee, #00a3f4);
  background-image: -moz-linear-gradient(top, #007fee, #00a3f4);
  background-image: -ms-linear-gradient(top, #007fee, #00a3f4);
  background-image: -o-linear-gradient(top, #007fee, #00a3f4);
  border-radius: 5px;
  box-shadow: inset 0px 0px 0px 1px #0078c7, inset 0px 0px 0px 2px #49baf7
}

input.altActionButton {
  text-shadow: 0px 1px 1px #486000;
  background-color: #5a7f00;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5a7f00), to(#83a400));
  background-image: -webkit-linear-gradient(top, #5a7f00, #83a400);
  background-image: -moz-linear-gradient(top, #5a7f00, #83a400);
  background-image: -ms-linear-gradient(top, #5a7f00, #83a400);
  background-image: -o-linear-gradient(top, #5a7f00, #83a400);
  border-radius: 5px;
  box-shadow: inset 0px 0px 0px 1px #5b7900, inset 0px 0px 0px 2px #a2bb4d
}

dl.spec {
  line-height: 1.5em;
  margin: 0 0 1em 0
}

dl.spec dt {
  float: left;
  width: 120px;
  color: #212224;
  font-size: 1em;
  padding: 15px 0 15px 0;
  font-weight: bold
}

dl.spec dd {
  padding: 15px 0 15px 140px;
  border-top: solid 1px #d4d5d7;
  line-height: 1.5em
}

dl.spec dd.first {
  border-top: 0
}

.note_error {
  background: #ffcece;
  border: solid 1px #e0a3a3;
  text-shadow: 0px 1px 0px #ffe5e5;
  padding: 1em;
  margin: 0 0 1em 0;
  border-radius: 5px;
  box-shadow: inset 0px 0px 0px 1px #fff
}

.delim {
  color: #b4b5b7;
  padding: 0 0.25em 0 0.25em
}

.centered {
  text-align: center
}

.divider {
  border-bottom: solid 1px #fff
}

.divider span {
  display: block;
  border-bottom: solid 1px #d2d4d6
}

.v9.ea {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default
}

.v9.ea:after {
  content: '\0040vertex9' '\002E' 'com'
}

.ftbanner {
  width: 576px;
  height: 255px;
  margin: 0 auto 30px auto
}

a.button {
  position: relative;
  display: inline-block;
  height: 50px;
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  padding: 0 20px 0 20px !important;
  text-transform: normal;
  font-family: 'Roboto Slab', Georgia, Sans-serif;
  letter-spacing: -1px;
  text-align: center;
  background-position: -5px 0px;
  font-size: 1.4em
}

a.bigButton {
  font-size: 1.5em !important;
  line-height: 48px;
  padding: 0 25px 0 25px
}

a.button2 {
  text-shadow: 0px 1px 1px #486000;
  background-color: #5a7f00;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5a7f00), to(#83a400));
  background-image: -webkit-linear-gradient(top, #5a7f00, #83a400);
  background-image: -moz-linear-gradient(top, #5a7f00, #83a400);
  background-image: -ms-linear-gradient(top, #5a7f00, #83a400);
  background-image: -o-linear-gradient(top, #5a7f00, #83a400);
  border-radius: 5px;
  box-shadow: inset 0px 0px 0px 1px #5b7900, inset 0px 0px 0px 2px #a2bb4d
}

a.button1 {
  text-shadow: 0px 1px 1px #00588f;
  background-color: #007fee;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#007fee), to(#00a3f4));
  background-image: -webkit-linear-gradient(top, #007fee, #00a3f4);
  background-image: -moz-linear-gradient(top, #007fee, #00a3f4);
  background-image: -ms-linear-gradient(top, #007fee, #00a3f4);
  background-image: -o-linear-gradient(top, #007fee, #00a3f4);
  border-radius: 5px;
  box-shadow: inset 0px 0px 0px 1px #0078c7, inset 0px 0px 0px 2px #49baf7
}

a.button1:hover {
  background-color: #007fee;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#007fee), to(#0fb3ff));
  background-image: -webkit-linear-gradient(top, #007fee, #0fb3ff);
  background-image: -moz-linear-gradient(top, #007fee, #0fb3ff);
  background-image: -ms-linear-gradient(top, #007fee, #0fb3ff);
  background-image: -o-linear-gradient(top, #007fee, #0fb3ff)
}

a.button2:hover {
  background-color: #5a7f00;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5a7f00), to(#93b410));
  background-image: -webkit-linear-gradient(top, #5a7f00, #93b410);
  background-image: -moz-linear-gradient(top, #5a7f00, #93b410);
  background-image: -ms-linear-gradient(top, #5a7f00, #93b410);
  background-image: -o-linear-gradient(top, #5a7f00, #93b410)
}

a.buttonrss {
  background-image: url("../images/buttonrss.png");
  text-shadow: 0px 1px 1px #c44711;
  padding-left: 45px
}

a.buttonrss span {
  background-image: url("../images/buttonrss.png")
}

h1, h2, h3, h4 {
  color: #212224;
  font-family: 'Roboto Slab', Georgia, serif;
  font-weight: normal;
  text-transform: normal;
  margin: 0 0 1em 0
}

h1 a, h2 a, h3 a, h4 a {
  font-family: 'Roboto Slab', Georgia, serif;
  font-weight: normal;
  text-transform: normal
}

h1 strong, h2 strong, h3 strong, h4 strong {
  font-family: 'Roboto Slab', Georgia, serif;
  font-weight: bold;
  color: #000
}

h1 {
  font-size: 1.4em
}

h2 {
  font-size: 1.4em;
  letter-spacing: -1px;
  text-shadow: 0px 1px 1px #fff
}

h3 {
  font-size: 1.8em;
  letter-spacing: -1px;
  padding: 1em 0 0 0
}

h4 {
  font-size: 1.4em;
  letter-spacing: -1px;
  padding: 1em 0 0 0
}

strong {
  color: #414244
}

.horizontalRule {
  border-bottom: solid 1px #d2d4d6;
  margin: 0.75em 0 0.25em 0
}

br.clear {
  clear: both
}

.thumb {
  position: relative;
  width: 188px;
  height: 188px;
  border: solid 1px #d4d5d7;
  overflow: hidden;
  background: #fff;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f4f4f4));
  background-image: -webkit-linear-gradient(top, #fff, #f4f4f4);
  background-image: -moz-linear-gradient(top, #fff, #f4f4f4);
  background-image: -ms-linear-gradient(top, #fff, #f4f4f4);
  background-image: -o-linear-gradient(top, #fff, #f4f4f4);
  box-shadow: inset 0px 0px 0px 1px #fff;
  border-radius: 4px
}

.thumb .inner {
  height: 183px;
  width: 186px;
  overflow: hidden;
  padding: 3px 0 1px 0;
  text-align: center
}

.thumb .link {
  display: table-cell;
  width: 208px;
  height: 183px;
  vertical-align: middle;
  text-align: center
}

.thumb .link img {
  display: block;
  padding: 0;
  margin: 0 auto;
  width: 180px
}

ul.promoChecklist {
  margin: 0 0 2em 0;
  font-size: 1.2em;
  color: #454b50;
  list-style: none
}

ul.promoChecklist li {
  margin: 1em 0 1em 0;
  padding: 0 0 0 45px;
  background: url("../images/icon-checkmark.png") top left no-repeat
}

ul.normal {
  margin: 0 0 2em 1.5em
}

ul.normal li {
  margin: 0 0 1em 0
}

ul.spec {
  list-style: none
}

ul.spec li {
  line-height: 2.2em;
  border-bottom: solid 1px #d2d4d6;
  border-top: solid 1px #fff
}

ul.spec li.first {
  border-top: 0
}

ul.spec li.last {
  border-bottom: 0
}

ul.spec li a {
  color: #757b80;
  text-decoration: none;
  text-shadow: 0px 1px 0px #fff;
  font-size: 1em
}

ul.spec li a:hover {
  text-decoration: underline
}

.roundedCorner1-topLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background: url("../images/corner1.png");
  background-position: top left;
  z-index: 1
}

.roundedCorner1-topRight {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 5px;
  background: url("../images/corner1.png");
  background-position: top right;
  z-index: 1
}

.roundedCorner1-bottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background: url("../images/corner1.png");
  background-position: bottom left;
  z-index: 1
}

.roundedCorner1-bottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5px;
  height: 5px;
  background: url("../images/corner1.png");
  background-position: bottom right;
  z-index: 1
}

.roundedCorner2-topLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background: url("../images/corner2.png");
  background-position: top left;
  z-index: 1
}

.roundedCorner2-topRight {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 5px;
  background: url("../images/corner2.png");
  background-position: top right;
  z-index: 1
}

.roundedCorner2-bottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background: url("../images/corner2.png");
  background-position: bottom left;
  z-index: 1
}

.roundedCorner2-bottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5px;
  height: 5px;
  background: url("../images/corner2.png");
  background-position: bottom right;
  z-index: 1
}

.roundedBorder-left {
  position: absolute;
  top: 0;
  left: 0;
  background-position: top left
}

.roundedBorder-right {
  position: absolute;
  top: 0;
  right: 0;
  background-position: top right !important
}

.content {
  position: relative;
  z-index: 1
}

.roundedBorder-top {
  position: absolute;
  top: 0;
  left: 0;
  background-position: top left
}

.roundedBorder-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  background-position: bottom left !important
}

#main {
  position: relative;
  border-left: solid 1px #cbcdcf;
  border-right: solid 1px #cbcdcf;
  background: #fff;
  padding: 0;
  width: 1158px
}

.box {
  position: relative;
  padding: 20px;
  margin-top: 20px
}

.boxFirst {
  margin-top: 0px
}

.boxCaption {
  position: absolute;
  right: 0;
  top: 5px
}

.centeredControls {
  position: relative;
  margin: 0 0 1em 0;
  border-top: solid 1px #d4d5d7;
  padding: 2em 0 0 0;
  text-align: center
}

.centeredControls p {
  font-size: 1.2em
}

.centeredControls a {
  margin: 0 5px 0 5px
}

.headingControls {
  position: absolute;
  top: 8px;
  right: 0
}

.headingControls p {
  font-size: 1.2em
}

.headingControls a {
  margin: 0 5px 0 5px;
  font-size: 1em
}

.thumblist {
  position: relative;
  overflow: hidden;
  margin: 0 auto 1em auto
}

.thumblist ul {
  list-style: none
}

.thumblist ul li {
  float: left;
  width: 190px;
  overflow: hidden;
  margin: 0 4px 0 4px
}

.thumblist ul li .thumbOuter {
  position: relative
}

.thumblist ul li .thumbOuter_pending .note {
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 1;
  background: #0ea4ef;
  border-bottom: solid 1px #147dad;
  border-top: solid 1px #2ec4ff;
  width: 180px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-family: 'Roboto Slab', Georgia, serif;
  text-transform: normal;
  font-size: 1em;
  letter-spacing: -1px;
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  cursor: default
}

.thumblist ul li .thumbOuter_pending .thumb, .thumblist ul li .thumbOuter_pending .name, .thumblist ul li .thumbOuter_pending .author {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.50
}

.thumblist ul li .type {
  font-size: 1.0em;
  text-align: center;
  margin: 10px 0 10px 0;
  text-decoration: none
}

.thumblist ul li .added {
  display: block;
  text-align: center;
  font-size: 0.8em;
  margin: 0;
  color: #858b90
}

.pager {
  margin: 0.5em auto 4em auto;
  padding: 2em 0 0 0;
  overflow: hidden;
  text-align: center
}

.pager a.button {
  margin: 0 5px 0 5px
}

.pager .page {
  font-size: 1.4em;
  padding: 0 5px 0 5px
}

.premiumThumblist {
  overflow: hidden;
  position: relative;
  left: -20px;
  padding: 10px 20px 10px 20px;
  border-top: solid 1px #e0d6b3;
  border-bottom: solid 1px #e0d6b3;
  margin: 0 -40px 2em 0;
  box-shadow: inset 0px 0px 0px 2px #fff;
  text-shadow: 0px 1px 0px #fff;
  color: #59513a;
  background-color: #f9f2d4;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f2d4), to(#fcf7e3));
  background-image: -webkit-linear-gradient(top, #f9f2d4, #fcf7e3);
  background-image: -moz-linear-gradient(top, #f9f2d4, #fcf7e3);
  background-image: -ms-linear-gradient(top, #f9f2d4, #fcf7e3);
  background-image: -o-linear-gradient(top, #f9f2d4, #fcf7e3)
}

.premiumThumblist .headingControls {
  right: 20px;
  top: 25px
}

.premiumThumblist h4 {
  font-size: 1.2em
}

.premiumThumblist h4 a {
  color: #fb4c05
}

.premiumThumblistAlt {
  overflow: hidden;
  position: relative;
  margin-top: -12px
}

.premiumThumblistAlt .thumbOuter:after {
  content: 'Premium';
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  border-radius: 0 4px 0 4px;
  display: block;
  font-size: 12px;
  font-family: 'Roboto Slab', Georgia, serif;
  font-weight: normal;
  padding: 0 10px;
  text-shadow: 0px 1px 1px #00588f;
  background-color: #007fee;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#007fee), to(#00a3f4));
  background-image: -webkit-linear-gradient(top, #007fee, #00a3f4);
  background-image: -moz-linear-gradient(top, #007fee, #00a3f4);
  background-image: -ms-linear-gradient(top, #007fee, #00a3f4);
  background-image: -o-linear-gradient(top, #007fee, #00a3f4);
  box-shadow: inset 0px 0px 0px 1px #0078c7, inset 0px 0px 0px 2px #49baf7
}

.preview .image {
  border: solid 1px #d4d5d7;
  padding: 25px 0 25px 0;
  margin: 0 0 1.5em 0
}

.preview .image img {
  display: block;
  margin: 0 auto;
  width: 540px;
  border: solid 1px #d4d5d7
}

.preview dl.spec {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 2em
}

.previewMore h4 {
  font-size: 1.2em;
  border-top: solid 1px #d4d5d7;
  padding: 1.75em 0 0 0
}

.legal ol {
  margin: 1em 0 0 1.5em
}

.legal p {
  margin: 0.75em 0 1em 0
}

.af_form {
  position: relative;
  width: 100%
}

.af_form table {
  border-collapse: collapse
}

.af_form td {
  padding: 0.5em 0 0.5em 0
}

.af_form td.fieldTitle {
  width: 1%;
  color: #212224;
  padding: 0.75em 2em 0 0;
  white-space: nowrap;
  vertical-align: top;
  font-weight: bold
}

.af_form td.fieldBody {
  vertical-align: top
}

.af_form .infoMessage {
  font-size: 1em;
  padding: 1em 0 0 0;
  line-height: 2em
}

.af_form tr.hidden {
  display: none
}

.af_form tr.fieldError {
  background: #ffcece;
  border: solid 1px #e0a3a3;
  text-shadow: 0px 1px 0px #ffe5e5
}

.af_form tr.fieldError td {
  padding: 1em
}

.af_form tr.fieldError .errorMessage {
  font-size: 1em;
  padding: 1em 0 0 0
}

.af_wa_webAuthRegistration .af_form .recaptchaField {
  position: relative;
  left: -115px;
  margin-right: -115px
}

.report {
  text-align: center;
  margin: 20px 0
}

.socialControls {
  overflow: hidden
}

.socialControls ul {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  text-align: center
}

.socialControls ul li {
  position: relative;
  display: inline-block;
  margin: 0 7px 0 7px;
  z-index: 100;
  vertical-align: middle;
  height: 20px;
  line-height: 20px
}

.notice {
  background: #ebffeb;
  border: solid 1px #c8eac8;
  text-shadow: 0px 1px 0px #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: inset 0px 0px 0px 1px #fff
}

.notice h3 {
  margin: 0 0 0.75em 0
}

.notice ul {
  list-style: none;
  margin: 0
}

.notice ul li h4 {
  margin: 0 0 0.5em 0
}

.notice ul li p {
  margin: 0 0 1.75em 1.5em
}

.wideContent #col2 {
  margin: 0 320px 0 0
}

.list-stats {
  position: relative;
  width: 100%
}

.list-stats .results {
  text-align: center;
  margin: 0 0 30px 0
}

.list-stats .pager {
  text-align: right;
  font-size: 0.8em;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0;
  padding: 0
}

.list-stats .pager .page {
  padding: 0 3px 0 3px !important
}

.list-stats .pager .button {
  padding: 0 15px 0 15px !important;
  height: 40px !important;
  line-height: 40px !important
}

.filters {
  margin: 0 0 30px 0
}

.filters .filter {
  display: inline-block;
  margin-left: 20px
}

.filters .filter-first {
  margin-left: 0
}

.filters .filter strong {
  display: inline-block;
  padding-right: 10px;
  height: 37px;
  line-height: 37px
}

.filters .filter .dropselect {
  position: relative;
  display: inline-block;
  width: 178px;
  height: 24px
}

.filters .filter .dropselect ul {
  display: none
}

.filters .filter .dropselect .arrow {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  background: url("../images/arrow.png")
}

.fwt-dropselect-current {
  position: relative;
  cursor: pointer;
  text-align: left;
  width: 158px;
  border: solid 1px #d8dadc;
  border-radius: 4px;
  padding: 10px;
  height: 16px;
  background: #fff url("../images/gradient1.png") top left repeat-x;
  box-shadow: inset 0px 0px 0px 1px #fff;
  text-shadow: 0px 2px 0px #fff
}

.fwt-dropselect-current:hover {
  background: #fff url("../images/gradient1.png") 0px -20px repeat-x
}

.fwt-dropselect-ul {
  list-style: none;
  width: 460px;
  border: solid 1px #d8dadc;
  border-radius: 4px;
  padding: 18px 10px 18px 10px;
  background: #fff url("../images/gradient1.png") top left repeat-x;
  box-shadow: inset 0px 0px 0px 1px #fff, 0px 2px 8px 1px rgba(0, 0, 0, 0.15);
  text-shadow: 0px 2px 0px #fff
}

.fwt-dropselect-ul li {
  width: 130px;
  float: left;
  padding: 1px 10px 1px 10px
}

.fwt-dropselect-ul li a {
  text-decoration: none;
  color: #656b70
}

.fwt-dropselect-ul li strong a {
  color: #414244
}

.fwt-dropselect-ul li a:hover {
  text-decoration: underline
}

#fwt-popout-box {
  background: #fff;
  border: solid 5px #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 13px 1px rgba(0, 0, 0, 0.5);
  max-height: 250px;
  overflow: hidden
}

#fwt-popout-box img {
  display: block
}

body.demo {
  background: #fff;
  min-width: 1000px
}

body.demo .controls {
  list-style: none;
  position: absolute;
  right: 25px;
  top: 50px
}

body.demo .controls li {
  display: inline;
  margin-left: 20px
}

body.demo .info {
  position: absolute;
  left: 25px;
  top: 50px
}

body.demo .info h1 {
  color: #fff;
  text-shadow: 0px 1px 1px #000;
  margin: 0 0 0.25em 0;
  font-size: 1.25em
}

body.demo .info a {
  color: #fff;
  text-decoration: none;
  border-bottom: dotted 1px #aaa
}

body.demo .info a:hover {
  border-bottom: 0
}

body.demo .info p {
  font-size: 1em;
  color: #aaa;
  text-shadow: 0px 1px 1px #000
}

body.demo .ad {
  width: 728px;
  height: 90px;
  top: 30px;
  margin: 0 auto;
  position: relative;
  z-index: 100
}

#demoiframe {
  border: 0;
  width: 100%;
  min-width: 1000px
}

body.demo #header {
  height: 150px;
  background: #232426;
  box-shadow: inset 0px -1px 0px 0px #232426, inset 0px -2px 0px 0px #45484b, inset 0px 60px 40px 0px rgba(255, 255, 255, 0.05)
}

#xad img {
  display: block;
  width: 100%;
  outline: 0
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  line-height: 1;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none
}

mark {
  background-color: transparent;
  color: inherit
}

input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input[type="text"],input[type="email"],select,textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.0;
  word-wrap: break-word;
  overflow-x: hidden;
}

strong {
  color: inherit;
  font-weight: bolder;
}

em {
  font-style: italic;
}

code {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: normal;
  text-indent: 0;
  letter-spacing: 0;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.5em;
  background-color: rgba(144,144,144,0.25);
  border-radius: 0.25em;
}

mark {
  background-color: rgba(144,144,144,0.25);
}

a {
  -moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  -webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  -ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  color: inherit;
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

body.is-loading:after {
  opacity: 1;
  visibility: visible;
}

html {
  font-size: 18pt;
}

#wrapper {
  -webkit-overflow-scrolling: touch;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
  @include transition(background 0.4s ease);
}

#main {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: relative;
  max-width: 560px;
  z-index: 1;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  text-align: center;
  background-color: rgba(255,255,255,0.929);
  border-radius: 0.375rem 0.375rem 0.375rem 0.375rem;
  -moz-transition: opacity 1s ease 0s,-moz-transform 1s ease 0s;
  -webkit-transition: opacity 1s ease 0s,-webkit-transform 1s ease 0s;
  -ms-transition: opacity 1s ease 0s,-ms-transform 1s ease 0s;
  transition: opacity 1s ease 0s,transform 1s ease 0s;
  -moz-transform: perspective(1000px) rotateX(0deg);
  -webkit-transform: perspective(1000px) rotateX(0deg);
  -ms-transform: perspective(1000px) rotateX(0deg);
  transform: perspective(1000px) rotateX(0deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#main > .inner {
  position: relative;
  z-index: 1;
  border-radius: inherit;
  padding: 2rem;
  max-width: 100%;
  width: 23rem;
}

#main > .inner > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#main > .inner > :first-child {
  margin-top: 0 !important;
}

#main > .inner > :last-child {
  margin-bottom: 0 !important;
}

#main > .inner > .full {
  margin-left: calc(-2.5rem);
  width: calc(100% + 5rem + 0.4725px);
  max-width: calc(100% + 5rem + 0.4725px);
}

#main > .inner > .full:first-child {
  margin-top: -3.125rem !important;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

#main > .inner > .full:last-child {
  margin-bottom: -3.125rem !important;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

#main > .inner > .full.screen {
  width: 100vw;
  max-width: 100vw;
  position: relative;
  border-radius: 0 !important;
  left: 50%;
  right: auto;
  margin-left: -50vw;
}

body.is-loading #main {
  opacity: 0;
  -moz-transform: perspective(1000px) rotateX(15deg);
  -webkit-transform: perspective(1000px) rotateX(15deg);
  -ms-transform: perspective(1000px) rotateX(15deg);
  transform: perspective(1000px) rotateX(15deg);
}

.image {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  display: block;
}

.image a, .image span {
  position: relative;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

.image a img, .image span img {
  display: block;
}

.image img {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

.image.full img {
  display: block;
}

.image.full:first-child img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.image.full:last-child img {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.image.full a, .image.full span {
  display: block;
}

.avatar-image {
  border-radius: 100%;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  overflow: hidden;
  background-size: 100%;
  background-position: center;
}

h1 br + br, h2 br + br, h3 br + br, p br + br {
  display: block;
  content: ' ';
  margin-top: 0.9rem;
}

h1 .li, h2 .li, h3 .li, p .li {
  display: list-item;
  padding-left: 0.5em;
  margin: 0.75em 0 0 1em;
}

#text02 br + br {
  margin-top: 1.125rem;
}

#text02 {
  letter-spacing: 0.225rem;
  width: calc(100% + 0.225rem);
  font-size: 0.75em;
  line-height: 1.875;
  font-weight: 200;
}
.text03 {
  letter-spacing: 0.1rem;
  width: calc(100% + 0.225rem);
  font-size: 0.75em;
  line-height: 1.2;
  font-weight: 200;
  text-align: left;
  text-transform: none;
  margin-bottom: 5px;
}
.text03 br {
  margin: 0;
}
#text-wrapper {
  display: inline-block;
  margin: 0 auto !important;
}

h1, h2, h3, p {
  text-transform: uppercase;
  color: #313F47;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.4rem;
  width: calc(100% + 0.4rem);
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 300;
}

hr {
  width: 100%;
  position: relative;
  padding: 0;
  border: 0;
  height: 0.5rem;
  line-height: 0.5rem;
}

hr:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 19%;
  background-color: #C8CCCF;
  height: 1px;
}

.icons {
  cursor: default;
  padding: 0;
  letter-spacing: 0;
  font-size: 1.5em;
  width: calc(100% + 1rem);
  margin-left: -0.5rem;
}

.icons li {
  display: inline-block;
  vertical-align: middle;
  margin: 0.5rem;
}

.icons li a {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  border-radius: 100%;
  width: 2em;
  height: 2em;
}

.icons li a svg {
  display: block;
  -moz-transition: fill 0.25s ease;
  -webkit-transition: fill 0.25s ease;
  -ms-transition: fill 0.25s ease;
  transition: fill 0.25s ease;
}

.icons li a .label {
  display: none;
}

#icons01 li a svg {
  width: 60%;
  height: 60%;
}

#icons01 .n01 svg {
  fill: #C8CCCF;
}

#icons01 .n01 {
  border: solid 1px #C8CCCF;
}

#icons01 .n01:hover {
  border-color: #FF7496;
}

#icons01 .n01:hover svg {
  fill: #FF7496;
}

#icons01 .n02 svg {
  fill: #C8CCCF;
}

#icons01 .n02 {
  border: solid 1px #C8CCCF;
}

#icons01 .n02:hover {
  border-color: #FF7496;
}

#icons01 .n02:hover svg {
  fill: #FF7496;
}

#icons01 .n03 svg {
  fill: #C8CCCF;
}

#icons01 .n03 {
  border: solid 1px #C8CCCF;
}

#icons01 .n03:hover {
  border-color: #FF7496;
}

#icons01 .n03:hover svg {
  fill: #FF7496;
}

@media (max-width: 1680px) {
  html {
    font-size: 13pt;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 13pt;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 11pt;
  }
}

@media (max-width: 736px) {
  html {
    font-size: 11pt;
  }

  #main > .inner {
    padding: 3.125rem 2rem;
  }

  #main > .inner > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #main > .inner > .full {
    margin-left: calc(-2rem);
    width: calc(100% + 4rem + 0.4725px);
    max-width: calc(100% + 4rem + 0.4725px);
  }

  #main > .inner > .full:first-child {
    margin-top: -3.125rem !important;
  }

  #main > .inner > .full:last-child {
    margin-bottom: -3.125rem !important;
  }

  #main > .inner > .full.screen {
    margin-left: -50vw;
  }

  #image01 {
    margin-top: 1.125rem !important;
    margin-bottom: 1.125rem !important;
  }

  #image01 img {
    width: 7rem;
  }

  #divider01 {
    height: 0.5rem;
    line-height: 0.5rem;
  }
}

@media (max-width: 480px) {
  #main > .inner > * {
    margin-top: 0.875rem;
    margin-bottom: 0.875rem;
  }
}

@media (max-width: 360px) {
  #main > .inner {
    padding: 2.34375rem 1.5rem;
  }

  #main > .inner > * {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  #main > .inner > .full {
    margin-left: calc(-1.5rem);
    width: calc(100% + 3rem + 0.4725px);
    max-width: calc(100% + 3rem + 0.4725px);
  }

  #main > .inner > .full:first-child {
    margin-top: -2.34375rem !important;
  }

  #main > .inner > .full:last-child {
    margin-bottom: -2.34375rem !important;
  }

  #main > .inner > .full.screen {
    margin-left: -50vw;
  }

  #icons01 {
    width: calc(100% + 0.75rem);
    margin-left: -0.375rem;
  }

  #icons01 li {
    margin: 0.375rem;
  }
}

figure[class^="coverflow__figure"] > div {
  transform: translateX(-8.5%) !important;
}

[class^="coverflow__container"] {
  background: none !important;
  overflow: unset !important;
}

[class^="coverflow__figure"] {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.two-cols {
  margin: 0 -15px;
}
.two-cols::after {
  content: '';
  display: table;
  clear: both;
}

.two-cols .col {
  float: left;
  width: 50%;
  padding: 0 15px;
}

.photo {
  border: 1px dashed #BDBDBD;
  width: 100%;
  line-height: 140px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
.photo + input[type="file"] {
  display: none;
}


.screenshot-wrapper {
  margin-top: 10px;
}

.screenshot-wrapper > div {
  display: inline-block;
}

.screenshot-wrapper img {
  max-width: 100%;
  max-height: 200px;
}

.screenshot-wrapper .closeBtn {
  float: right;
  margin: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  outline: 0;
  padding: 0;
  border: 0;
  position: relative;
  box-shadow: 1px 2px 6px #ccc;
  font-family: initial;
  cursor: pointer;
  color: #fff;
}

.btn-danger, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled], .btn-danger .open .dropdown-toggle.btn {
  background-color: #da4453;
  border-color: #da4453;
}

.btn-danger:hover, .btn-danger:focus {
  background-color: #ed5565;
  border-color: #ed5565;
}

.btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover {
  background-color: #ac2925;
  border-color: #761c19;
}

.btn-primary, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #67AEEC;
  border-color: #67AEEC;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #4D85BE;
  border-color: #4D85BE;
}

.btn-primary, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #67AEEC;
  border-color: #67AEEC;
}

.btn {
  color: white;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 10px;
}

#owl-carousel {
  .owl-stage:after {
    content: '';
    display: table;
    clear: both;
  }
  .owl-item {
    float: left;
    @include transition(transform 0.4s ease);
    @include transform(perspective(1000px) rotateY(20deg)scale(0.8));
  }

  .owl-item.center,
  .owl-item:last-of-type {
    @include transform(none);
  }

  .owl-item.center ~ .owl-item {
    @include transform(perspective(1000px) rotateY(-20deg) scale(0.8));
  }
  .owl-dots.disabled,
  .owl-nav.disabled {
    display: none;
  }
}